body {
	font-family: number;
	font-size: 16px;
    margin: 0;
	cursor: default;
    overflow: hidden;
    user-select: none;
}

@font-face {
    font-family: number;
    src: url('copperplate-cc.heavy.otf') format('woff');
}

*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}

button {
    width: 200px;
    height: 39px;
    background: rgb(245, 245, 245);
    cursor: pointer;
    transition-duration: 0.2s;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 5px;
}

:focus-visible {
    outline: none;
}

button:hover {
    background: rgb(219, 219, 219);
}